html
  font-size: 1vw
body
  width: 100vw
  height: 100vh
  background-color: #333
  display: flex
  justify-content: center
  //align-items: center
  overflow: hidden
.score
  font-family: 'Arial', sans-serif
  color: #ffffff
  text-align: center
  font-size: 3rem
